<div class="card">
    <header>
        <div class="box">
            <div class="icon" > 
                <img src="football.png" class="avatar" >
            </div>
            <div class="text">
                <div class="title">
                    <h2>Siemano</h2>
                </div>
                <div class="text2">
                    <div class="bottomtext1">
                        <p1>proszę działaj :D</p1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="img">
        <img src="gora.jpeg" class="imgg">
    </div>
    <div class="bottomtext">
        <p class="p2">some text some text some text</p>
    </div>
    <footer>
        <div class="buttons">
            <a href="#" class="myButton">action 1</a>
            <a href="#" class="myButton">action 2</a>
        </div>
        <div class="hrefs">
            <img  src="hearth.png" class="icons"> 
            <img  src="share.png" class="icons">
        </div>
    </footer>
</div>