.componentsWrapper{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .component{
    margin: 300px 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-2{
    background: red;
  }
}